
<button (click)="goBack()">go back</button>



<h2>{{user.name | uppercase}} Details</h2>
<!-- <div><span>id: </span>{{user.id}}</div>


<label>name:
  <input [(ngModel)]="user.name" placeholder="name"/>
</label>

<button (click)="save()">save</button>
 -->



<!-- 
<h2>USER Detail</h2>
<h3><i>Just a FormControl</i></h3>
<label class="center-block">Name:
  <input class="form-control" [formControl]="name">
</label> -->

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <div style="margin-bottom: 1em">
      <button type="submit" [disabled]="userForm.pristine" class="btn btn-success">Save</button> &nbsp;
    </div>


  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name"  [(ngModel)]="user.name">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Age:
      <input class="form-control" formControlName="age" [(ngModel)]="user.age">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Nationality:
      <select class="form-control" formControlName="nationality" [(ngModel)]="user.nationality">
          <option *ngFor="let nationality of nationalities" [value]="nationality" >{{nationality}} </option>
      </select>
    </label>
  </div>
</form>
<p>Form value: {{ userForm.value | json }}</p>
<p>Form status: {{ userForm.status | json }}</p>
<p>Name value: {{ userForm.get('name').value }}</p>