
<button class="btn" (click)="goBack()">go back</button>



<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  


  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name"  [(ngModel)]="user.name">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Age:
      <input class="form-control" formControlName="age" [(ngModel)]="user.age">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Nationality:
      <select class="form-control" formControlName="nationality" [(ngModel)]="user.nationality">
          <option *ngFor="let nationality of nationalities" [value]="nationality" >{{nationality}} </option>
      </select>
    </label>
  </div>
  
    <div style="margin-bottom: 1em">
      <button type="submit" [disabled]="userForm.pristine" class="btn btn-success">Save</button> &nbsp;
    </div>
</form>
